* {
    box-sizing: border-box;
    line-height: 1;
}

body {
    background-color: gray;
    
    
    font-family: $fontLobster;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    padding: 70px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }